.speaker-box {
  display: inline-block;
  width:12em;
  height:11em;
  border:1px solid #000;
  padding:0.5em 0.5em;
  margin: 1em;1em;
}


.speaker-box:hover {
    box-shadow: 0 0 5px #000;
    -webkit-transform-style: preserve-3d;
    -webkit-transform:perspective(600) rotateY(-10deg);
}