<!DOCTYPE html>
<html>
  <head>
    <style>template { display: none; }</style>
    <title>Speakers</title>
  </head>
 
  <body>   
    
    
    <div>
     <span>Search for someone here:</span>
     <input type="text">
    <div>
      <template></template>
      <template></template>
    </div>
    <div>
      <template></template>
 
     </div>
 
  </div>
    
    
  <script src="@routes.Assets.at("packages/browser/dart.js")"></script>
  

  <script type="application/dart" src="@routes.Assets.at("out/speakers.html_bootstrap.dart")"></script>
 </body>
</html>